<%= tinymce %>
<%= form_for(hotel) do |f| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Назва %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :Опис %>
    <%= f.text_area :description, class: "tinymce", rows: 20, cols: 80 %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :Номери_телефонів %>
    <%= f.fields_for :phones do |phone_form| %>
      <%= render 'phone_fields', f: phone_form %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Додати номер', f, :phones %>
    </div>
  </div>
  <br/>
  <div class="field">
    <%= f.label :Мінімальна_ціна_за_одну_ніч_з_однієї_людини %>
    <%= f.number_field :price, class: 'form-control', placeholder: 'Ціна в гривнях' %>
  </div>
  <br/>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Зберегти", class: 'btn btn-danger' %>
  </div>
<% end %>
