<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <img src="/images/Dragobrat.svg" />
    <% end %>
    <button class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class='nav-item'><%= link_to 'Готелі', root_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Кафе', restaurants_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Схема', schema_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'SkiPass', skipass_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Веб-камери', 'https://snig.info/uk/Drahobrat/1', target: '_blank', class: 'nav-link' %></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <% if current_user.reservations.count > 0 %>
            <li class='nav-item'><%= link_to 'Бронюванння', reservations_path, class: 'nav-link' %></li>
          <% else %>
            <li class='nav-item'><%= link_to 'Додати заклад', new_hotel_path, class: 'nav-link' %></li>
          <% end %>
          <li class="nav-item"><%= link_to 'Профіль', edit_user_registration_path, class: 'nav-link' %></li>
          <li class="round-image-30"><%= image_tag(user_avatar(current_user)) %></li>
          <li class="nav-item"><%= link_to 'Вийти', destroy_user_session_path, data: {:confirm => "Вийти?"}, class: 'nav-link' %></li>
          </li>
        <% else %>
          <li class="nav-item">
            <% if Rails.env.development? %>
              <%= link_to 'Зареєструватися', new_user_registration_path, class: 'nav-link' %>
            <% else %>
              <a href='https://dragobrat.herokuapp.com/users/sign_up' class="nav-link">Зареєструватися</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if Rails.env.development? %>
              <%= link_to 'Увійти', new_user_session_path, class: 'nav-link' %>
            <% else %>
              <a href='https://dragobrat.herokuapp.com/users/sign_in' class="nav-link">Увійти</a>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item">
          <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.dragobrat.net&width=200&layout=button_count&action=like&size=small&show_faces=false&share=true&height=20&appId=783416265322787" width="200" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </li>
      </ul>
    </div>
  </div>
</nav>