<!DOCTYPE html>
<html>
  <head>
    <title>Драгобрат гірськолижний  курорт, готелі на карті 3D, ціни, відгуки, схема підйомників, веб камери</title>
    <meta name="description" content="Драгобрат, готелі на драгобраті, гірськолижний курорт драгобрат, Драгобрат-гірськолижний курорт,
     Готелі, веб-камери, ціни на підйомники, Драгобрат гостинници, фотогалерея с описанием и ценами на проживание,
     веб-камеры, схема расположения отелей,  цены на проживание и подъемники, погода, dragobrat, bukovel, гірськолижний курорт,
      схема підйомників, веб-камери, ціни на підйомники та проживання, схема розташування готелей, літній відпочинок, фото Драгобрата.
       Ski resort Dragobrat, проживання в Ясіня, баня в Ясіня"/>
    <meta name="keywords" content="Драгобрат, готелі на драгобраті, гірськолижний курорт драгобрат, Драгобрат-гірськолижний курорт,
     Готелі, веб-камери, ціни на підйомники, Драгобрат гостинници, фотогалерея с описанием и ценами на проживание,
     веб-камеры, схема расположения отелей,  цены на проживание и подъемники, погода, dragobrat, bukovel, гірськолижний курорт,
      схема підйомників, веб-камери, ціни на підйомники та проживання, схема розташування готелей, літній відпочинок, фото Драгобрата.
       Ski resort Dragobrat, проживання в Ясіня, баня в Ясіня" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/nav'%>
    <%= yield %>
    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Sergii Fedorchuk. Contact: sergykoretsfsp@gmail.com</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
